<div id="nav">
    <h3>{{ title }}</h3>
    <span *ngIf="isActive">
        <ul>
            <!-- *ngFor is for the element <li> -->
            <li *ngFor="let user of activeUsers">
                <span [style.color]="user.age % 2 === 0 ? 'red' : 'green'">
                    {{ user.name + " is " + user.age + " years old !"}}>
                </span>
            </li>
        </ul>
    </span>

    <span *ngIf="!isActive">
        <p>Nothing is Active!</p>
        <hr>
        <p style="text-align: center">SHOW Active</p>
    </span>
    <!-- [attr.data-input] -->
    <input [value]="inputValue" type="text" />

    <button (click)="handleClick($event, 1000, 1100, 1200)">
        Make {{ isActive ? "Incative" : "Active" }}
    </button>
</div>
<hr>
